body {
    background: #EBEAE4;
}

.navbar-burger {
    height: auto;
}

.hps-logo {
    font-family: "Alegreya Sans SC", Georgia, serif;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
}

.hps-main-nav .navbar-item {
    padding: 1rem;
}

.hps-main-nav .has-dropdown .navbar-link {
    margin: -1rem;
    padding: 1rem 2.5rem 1rem 1rem;
}

.hps-main-nav .logged-dropdown {
    background: #7AAAA3;
}

.hps-main-nav .navbar-item.has-dropdown.logged-dropdown:hover .navbar-link {
    background: #496661;
}

.hps-hero {
    background: url(/images/baldy.jpg);
    background-size: cover;
    position: relative;
    background-position: center -250px;
}

.hps-hero:before {
    background-color: #1E2723;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 1s ease-in-out;
}

h1.hps-title {
    font-family: "Alegreya Sans SC", Georgia, serif;
    font-size: 2.5rem;
    letter-spacing: 0.125rem;
    padding: 1rem 0;
}

iframe {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    margin-bottom: 1em;
    overflow: hidden;
}

.tile figure {
    margin-bottom: 1.5rem;
}

.tile .content ul {
    margin-bottom: 1.5rem;
}

.title {
    font-family: "Alegreya Sans SC", Georgia, serif;
    letter-spacing: 0.0625rem;
}

.subtitle {
    font-family: "Alegreya Sans", Georgia, serif;
    font-weight: 500;
}

.horizontal-widget .column:first-child {
    background-color: #338833;
    color: #fff;
    position: relative;
}

.horizontal-widget .column:first-child > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.horizontal-widget .column:not(:first-child) {
    color: #fff;
    background-color: #5b9f5b;
    padding: 1.5rem;
}

.tiles {
    margin: 2rem auto;
}

/* homepage specific */
.hps-homepage-tiles .tile {
    position: relative;
}

.hps-homepage-tiles > .tile:first-child {
    padding-left: 0;
}

.hps-homepage-tiles > .tile:last-child {
    padding-right: 0;
}

.hps-homepage-tiles h4 {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
}

.hps-homepage-tiles a.tile {
    background-size: cover;
}

.hps-homepage-tiles a.tile:before {
    background: rgba(30, 39, 35, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: background .5s ease-out;
}

.hps-homepage-tiles a.tile:hover:before {
    background: rgba(30, 39, 35, 0.8);
}

.hps-tile-guides {
    background: url(/images/map.jpg) center;
    min-height: 400px;
}

.hps-tile-activities {
    background: url(/images/activities.jpg) center -200px;
}

.hps-tile-membership {
    background: url(/images/hikers.jpg) center;
}

/* peak table specific */
.hps-peak-table tr.delisted {
    background-color: #f0f0f0;
    color: #aaa;
    font-style: italic;
}

.hps-peak-table tr.delisted:hover {
    background-color: #f1f1f1;
}

.hps-peak-table tr.delisted .tag {
    visibility: hidden;
}

.hps-peak-table tr:hover .tag {
    visibility: visible;
}

.hps-peak-table tr.suspended {
    color: #aaa;
}

.hps-peak-table tr .tag {
    pointer-events: none;
    user-select: none;
    margin-left: 10px;
}

.hps-peak-table .actions .button {
    color: #ccc;
    margin-right: 10px;
}

.hps-peak-table tr:hover .actions .button {
    color: #363636;
}

.hps-peak-table .actions .button.remove:hover {
    color: #AA4040;
}

@media (max-width: 1230px) {
    .hps-hero {
        background-position: center center;
    }

    .hps-tile-activities {
        background: url(/images/activities.jpg) center;
    }
}

@media (max-width: 768px) {
    .horizontal-widget .column:first-child > h3 {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
    }

    .hps-homepage-tiles a.tile {
        min-height: 200px;
    }

    .hps-homepage-tiles > .tile:first-child {
        padding: 0.75rem 0;
    }

    .hps-homepage-tiles > .tile:last-child {
        padding: 0.75rem 0;
    }

    .hps-main-nav .logged-dropdown {
        background: #1E2723;
        color: #fff;
    }

    .hps-main-nav .logged-dropdown .navbar-link,
    .hps-main-nav .logged-dropdown .navbar-item {
        color: #fff;
    }
}